In [97]:
import numpy as np
import pandas as pd

import time

import matplotlib.pyplot as plt
import os
import re
import seaborn as sns

In [98]:
import json
import time
import re

In [99]:
def df_lambda_replace_characters(df, column_name, new_column, dictionary):
    df[new_column] = df[column_name].apply(lambda x: replace_words(x, dictionary))       
    return df

In [100]:
def replace_words(strtext, dictionary):
    pattern = re.compile(r'(?<!\w)(' + '|'.join(re.escape(key) for key in dictionary.keys()) + r')(?!\w)')
    result = pattern.sub(lambda x: dictionary[x.group()], strtext)
    return result

In [101]:
from scipy.stats import moment
from scipy.stats import describe

In [102]:
import nltk
nltk.download('brown')

[nltk_data] Downloading package brown to /home/cdsw/nltk_data...
[nltk_data]   Package brown is already up-to-date!

True

In [103]:
from textblob import TextBlob

In [104]:
from scipy.stats import moment
from scipy.stats import describe

In [105]:
def basic_stats_error(datalist):
    
    if len(datalist)>1:
        result_describe = list(describe(datalist)[2:])
        result_percentile = result_describe + list(np.percentile(datalist,[10,25,50,75,90]))
        array = np.array(datalist)
        result_percentile = result_percentile+[len(array),len(array[np.where(array>0)[0]])/len(array)*100,
                                               len(array[np.where(array<0)[0]])/len(array)*100]
    else:
        result_percentile = []

    return result_percentile

In [106]:
def explode(df, lst_cols, fill_value=''):
    # make sure `lst_cols` is a list
    if lst_cols and not isinstance(lst_cols, list):
        lst_cols = [lst_cols]
    # all columns except `lst_cols`
    idx_cols = df.columns.difference(lst_cols)

    # calculate lengths of lists
    lens = df[lst_cols[0]].str.len()

    if (lens > 0).all():
        # ALL lists in cells aren't empty
        return pd.DataFrame({
            col:np.repeat(df[col].values, df[lst_cols[0]].str.len())
            for col in idx_cols
        }).assign(**{col:np.concatenate(df[col].values) for col in lst_cols}) \
          .loc[:, df.columns]
    else:
        # at least one list in cells is empty
        return pd.DataFrame({
            col:np.repeat(df[col].values, df[lst_cols[0]].str.len())
            for col in idx_cols
        }).assign(**{col:np.concatenate(df[col].values) for col in lst_cols}) \
          .append(df.loc[lens==0, idx_cols]).fillna(fill_value) \
          .loc[:, df.columns]

In [107]:
import seaborn as sns

In [108]:
sns.set(style="whitegrid")

In [109]:
from importlib import reload

from nlp_pandas_functions import ngram_analysis
from nlp_pandas_functions import noun_sentences

reload(ngram_analysis)
reload(noun_sentences)
dir(ngram_analysis)

module https://tfhub.dev/google/universal-sentence-encoder/4 loaded

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'bigrams_join',
 'count_n_grams',
 'defaultdict',
 'df_get_n_grams_count',
 'df_lambda_ngram',
 'generate_n_grams',
 'get_imp',
 'get_n_grams_count',
 'get_n_grams_probability',
 'kg',
 'ngrams',
 'np',
 'pd',
 'text']

In [110]:
column = 'clean_publicremarks'

In [111]:
#from nlp_pandas_functions import ngram_analysis
from nlp_pandas_functions import noun_sentences

#reload(ngram_analysis)
reload(noun_sentences)
#dir(ngram_analysis)

module https://tfhub.dev/google/universal-sentence-encoder/4 loaded

In [112]:
import glob
filtered_files = glob.glob("new_avm_df__full_data_state_*_noun_sentences_by_listingid_CJ.fea")

In [113]:
filtered_files

['new_avm_df__full_data_state_KS_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_AZ_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_TN_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_FL_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_GA_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_OK_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_UT_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_ME_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_CA_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_MS_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_WA_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_OH_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_MA_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_AL_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_NC_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_CO_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_MO_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_KY_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_NE_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_NY_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_VA_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_MD_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_HI_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_WV_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_MN_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_AK_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_IN_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_PA_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_SC_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_LA_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_NJ_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_RI_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_WY_noun_sentences_noun_sentences_by_listingid_CJ.fea',
 'new_avm_df__full_data_state_TX_noun_sentences_noun_sentences_by_listingid_CJ.fea']

In [114]:
noun_sentence_df_T_ri_filtered_thu_list_base= pd.read_csv(filtered_files[0])

In [115]:
filtered_files[0].split('_')[7]

'KS'

In [116]:
noun_sentence_df_T_ri_filtered_thu_list_base['state'] = filtered_files[0].split('_')[7]

In [117]:
noun_sentence_df_T_ri_filtered_thu_list_base

        Unnamed: 0               noun_sentence  listingid state
0            56570           main level boasts       4002    KS
1            55500              walk-in pantry       4002    KS
2            62137             enormous closet       4002    KS
3            85185        huge recreation room       4002    KS
4            23537  stainless steel appliances       4002    KS
...            ...                         ...        ...   ...
220727      136147           spacious bedrooms  277148393    KS
220728        4539               new hardwoods  277148393    KS
220729      102091                   full bath  277148393    KS
220730      112009                  new carpet  277148393    KS
220731      166753                  yard patio  277148393    KS

[220732 rows x 4 columns]

In [118]:
for file in filtered_files[1:]:
    
    print(file)    
    noun_sentence_df_T_ri_filtered_thu_list= pd.read_csv(file)
    print(len(noun_sentence_df_T_ri_filtered_thu_list))
    noun_sentence_df_T_ri_filtered_thu_list['state'] = file.split('_')[7]
    noun_sentence_df_T_ri_filtered_thu_list_base = noun_sentence_df_T_ri_filtered_thu_list_base.append(noun_sentence_df_T_ri_filtered_thu_list)

new_avm_df__full_data_state_AZ_noun_sentences_noun_sentences_by_listingid_CJ.fea
354358
new_avm_df__full_data_state_TN_noun_sentences_noun_sentences_by_listingid_CJ.fea
514024
new_avm_df__full_data_state_FL_noun_sentences_noun_sentences_by_listingid_CJ.fea
5375668
new_avm_df__full_data_state_GA_noun_sentences_noun_sentences_by_listingid_CJ.fea
2461559
new_avm_df__full_data_state_OK_noun_sentences_noun_sentences_by_listingid_CJ.fea
363710
new_avm_df__full_data_state_UT_noun_sentences_noun_sentences_by_listingid_CJ.fea
421153
new_avm_df__full_data_state_ME_noun_sentences_noun_sentences_by_listingid_CJ.fea
11
new_avm_df__full_data_state_CA_noun_sentences_noun_sentences_by_listingid_CJ.fea
4005
new_avm_df__full_data_state_MS_noun_sentences_noun_sentences_by_listingid_CJ.fea
97789
new_avm_df__full_data_state_WA_noun_sentences_noun_sentences_by_listingid_CJ.fea
1091989
new_avm_df__full_data_state_OH_noun_sentences_noun_sentences_by_listingid_CJ.fea
598836
new_avm_df__full_data_state_MA_noun_sentences_noun_sentences_by_listingid_CJ.fea
89
new_avm_df__full_data_state_AL_noun_sentences_noun_sentences_by_listingid_CJ.fea
43300
new_avm_df__full_data_state_NC_noun_sentences_noun_sentences_by_listingid_CJ.fea
1440519
new_avm_df__full_data_state_CO_noun_sentences_noun_sentences_by_listingid_CJ.fea
1584721
new_avm_df__full_data_state_MO_noun_sentences_noun_sentences_by_listingid_CJ.fea
789725
new_avm_df__full_data_state_KY_noun_sentences_noun_sentences_by_listingid_CJ.fea
208990
new_avm_df__full_data_state_NE_noun_sentences_noun_sentences_by_listingid_CJ.fea
8
new_avm_df__full_data_state_NY_noun_sentences_noun_sentences_by_listingid_CJ.fea
35
new_avm_df__full_data_state_VA_noun_sentences_noun_sentences_by_listingid_CJ.fea
25
new_avm_df__full_data_state_MD_noun_sentences_noun_sentences_by_listingid_CJ.fea
14
new_avm_df__full_data_state_HI_noun_sentences_noun_sentences_by_listingid_CJ.fea
21
new_avm_df__full_data_state_WV_noun_sentences_noun_sentences_by_listingid_CJ.fea
64
new_avm_df__full_data_state_MN_noun_sentences_noun_sentences_by_listingid_CJ.fea
21
new_avm_df__full_data_state_AK_noun_sentences_noun_sentences_by_listingid_CJ.fea
16
new_avm_df__full_data_state_IN_noun_sentences_noun_sentences_by_listingid_CJ.fea
205203
new_avm_df__full_data_state_PA_noun_sentences_noun_sentences_by_listingid_CJ.fea
52
new_avm_df__full_data_state_SC_noun_sentences_noun_sentences_by_listingid_CJ.fea
109892
new_avm_df__full_data_state_LA_noun_sentences_noun_sentences_by_listingid_CJ.fea
8
new_avm_df__full_data_state_NJ_noun_sentences_noun_sentences_by_listingid_CJ.fea
21
new_avm_df__full_data_state_RI_noun_sentences_noun_sentences_by_listingid_CJ.fea
16
new_avm_df__full_data_state_WY_noun_sentences_noun_sentences_by_listingid_CJ.fea
15
new_avm_df__full_data_state_TX_noun_sentences_noun_sentences_by_listingid_CJ.fea
3604938

In [119]:
noun_sentence_df_T_ri_filtered_thu_list_base = noun_sentence_df_T_ri_filtered_thu_list_base.drop(columns=['Unnamed: 0'])

In [120]:
len(noun_sentence_df_T_ri_filtered_thu_list_base)

19491527

In [121]:
noun_sentence_df_T_ri_filtered_thu_list_base

                      noun_sentence  listingid state
0                 main level boasts       4002    KS
1                    walk-in pantry       4002    KS
2                   enormous closet       4002    KS
3              huge recreation room       4002    KS
4        stainless steel appliances       4002    KS
...                             ...        ...   ...
3604933                 canyon lake  290220824    TX
3604934                  floor plan  290220824    TX
3604935                 shade trees  290221239    TX
3604936                    new deck  290221239    TX
3604937                  large yard  290221239    TX

[19491527 rows x 3 columns]

In [122]:
9711296

9711296

In [123]:
noun_sentence_df_T_ri_filtered_thu_list_base.iloc[9711290:9711299]

                            noun_sentence  listingid state
75                         amazing pardee  234932351    CA
76                            backs ebmud  234932351    CA
77                            tile cement  234932351    CA
78                       full view pardee  234932351    CA
79                       4/3,2 story barn  234932351    CA
80                    formal dinning room  234932351    CA
81                      upstairs features  235080616    CA
82  kitchen w/expansive island heart home  235080616    CA
83                full bed/bath dwnstairs  235080616    CA

In [124]:
from nlp_pandas_functions import nlp_pandas_functions
reload(nlp_pandas_functions)
dir(nlp_pandas_functions)

['PorterStemmer',
 'SnowballStemmer',
 'TextBlob',
 'WordNetLemmatizer',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'define_stop_words',
 'df_column_prepare',
 'df_column_remove_punctuation',
 'df_column_remove_unicode',
 'df_column_simple_prepare',
 'df_column_stemmer',
 'df_lambda_lemmatizer',
 'df_lambda_remove_punctuation',
 'df_lambda_remove_stop_words',
 'df_lambda_remove_unicode',
 'df_lambda_stemmer',
 'df_lambda_to_lowercase',
 'df_spell_check',
 'nltk',
 're',
 'single_entry_lambda_stemmer',
 'single_entry_lemmatizer',
 'single_entry_prepare',
 'single_entry_remove_punctuation',
 'single_entry_remove_stop_words',
 'single_entry_remove_unicode',
 'single_entry_spell_check',
 'string',
 'word_tokenize']

In [125]:
#tic = time.time()
#noun_sentence_df_T_ri_filtered_thu_list_base = nlp_pandas_functions.df_lambda_remove_unicode(noun_sentence_df_T_ri_filtered_thu_list_base, 'noun_sentence', 'noun_sentence_np')
#toc = time.time()
#print(toc - tic)

In [126]:
#noun_sentence_df_T_ri_filtered_thu_list_base = noun_sentence_df_T_ri_filtered_thu_list_base.drop(columns='noun_sentence')

In [127]:
#noun_sentence_df_T_ri_filtered_thu_list_base = noun_sentence_df_T_ri_filtered_thu_list_base.rename(columns={'noun_sentence_np':'noun_sentence'})

In [128]:
noun_sentence_df_T_ri_filtered_thu_list_base

                      noun_sentence  listingid state
0                 main level boasts       4002    KS
1                    walk-in pantry       4002    KS
2                   enormous closet       4002    KS
3              huge recreation room       4002    KS
4        stainless steel appliances       4002    KS
...                             ...        ...   ...
3604933                 canyon lake  290220824    TX
3604934                  floor plan  290220824    TX
3604935                 shade trees  290221239    TX
3604936                    new deck  290221239    TX
3604937                  large yard  290221239    TX

[19491527 rows x 3 columns]

In [129]:
file_join = 'ch_noun_sentences_by_listingid_CJ_2_full.csv'
noun_sentence_df_T_ri_filtered_thu_list_base.to_csv(file_join)

In [130]:
noun_sentence_df_T_ri_filtered_thu_list_base

                      noun_sentence  listingid state
0                 main level boasts       4002    KS
1                    walk-in pantry       4002    KS
2                   enormous closet       4002    KS
3              huge recreation room       4002    KS
4        stainless steel appliances       4002    KS
...                             ...        ...   ...
3604933                 canyon lake  290220824    TX
3604934                  floor plan  290220824    TX
3604935                 shade trees  290221239    TX
3604936                    new deck  290221239    TX
3604937                  large yard  290221239    TX

[19491527 rows x 3 columns]

In [34]:
#[ch_noun_phrases_by_listingid_for_Thu]

In [148]:
noun_sentence_df_T_ri_filtered_thu_list_base = noun_sentence_df_T_ri_filtered_thu_list_base.reset_index()

In [157]:
file_join = 'ch_noun_sentences_by_listingid_CJ_2_full.csv'
noun_sentence_df_T_ri_filtered_thu_list_base.to_csv(file_join)

In [160]:
file_join = 'ch_noun_sentences_by_listingid_CJ_2_full_part1.csv'
noun_sentence_df_T_ri_filtered_thu_list_base.iloc[0:9662890].to_csv(file_join)

In [159]:
noun_sentence_df_T_ri_filtered_thu_list_base.iloc[0:9662890]

          index               noun_sentence  listingid state
0             0           main level boasts       4002    KS
1             1              walk-in pantry       4002    KS
2             2             enormous closet       4002    KS
3             3        huge recreation room       4002    KS
4             4  stainless steel appliances       4002    KS
...         ...                         ...        ...   ...
9662885  372834                laundry area  246084836    UT
9662886  372835                 fresh paint  246084836    UT
9662887  372836            private entrance  246084836    UT
9662888  372837             tile backsplash  246084836    UT
9662889  372838            private backyard  246084836    UT

[9662890 rows x 4 columns]

In [161]:
len(noun_sentence_df_T_ri_filtered_thu_list_base)

19491527

In [163]:
noun_sentence_df_T_ri_filtered_thu_list_base.iloc[9662890:9662890+2000000]

           index         noun_sentence  listingid state
9662890   372839              new roof  246084836    UT
9662891   372840        county records  246084837    UT
9662892   372841       summer evenings  246084837    UT
9662893   372842          solar panels  246084837    UT
9662894   372843            tone paint  246084837    UT
...          ...                   ...        ...   ...
11662885  115662       separate shower  150567827    NC
11662886  115663  spacious family room  150567831    NC
11662887  115664        full bathrooms  150567831    NC
11662888  115665         bedroom ranch  150567831    NC
11662889  115666           fresh paint  150567831    NC

[2000000 rows x 4 columns]

In [164]:
file_join = 'ch_noun_sentences_by_listingid_CJ_2_full_part2.csv'
noun_sentence_df_T_ri_filtered_thu_list_base.iloc[9662890:9662890+2000000].to_csv(file_join)

In [165]:
noun_sentence_df_T_ri_filtered_thu_list_base.iloc[9662890:9662890+2000000].iloc[48404:48408]

         index                          noun_sentence  listingid state
9711294     79                       4/3,2 story barn  234932351    CA
9711295     80                    formal dinning room  234932351    CA
9711296     81                      upstairs features  235080616    CA
9711297     82  kitchen w/expansive island heart home  235080616    CA

In [149]:
noun_sentence_df_T_ri_filtered_thu_list_base[\
                (noun_sentence_df_T_ri_filtered_thu_list_base['noun_sentence']=='private backyard')\
            & (noun_sentence_df_T_ri_filtered_thu_list_base['listingid']==246084836)]

          index     noun_sentence  listingid state
9662889  372838  private backyard  246084836    UT

In [147]:
noun_sentence_df_T_ri_filtered_thu_list_base.loc[372839,:]

               noun_sentence  listingid state
372839   high end appliances  266576581    TN
372839          master suite  139753925    FL
372839       great room with  166177522    GA
372839              new roof  246084836    UT
372839              old roof  218928967    WA
372839           paver patio  220412277    OH
372839   comparison purposes  192241381    NC
372839           upper level  198080926    CO
372839      smooth top range  210941307    MO
372839  schedule appointment  189473288    TX

In [156]:
noun_sentence_df_T_ri_filtered_thu_list_base.loc[9662950:9663000,:]

          index               noun_sentence  listingid state
9662950  372899      square footage figures  246084868    UT
9662951  372900           courtesy estimate  246084868    UT
9662952  372901             open floor plan  246084868    UT
9662953  372902        new kitchen cabinets  246084868    UT
9662954  372903     independent measurement  246084868    UT
9662955  372904         easy freeway access  246084872    UT
9662956  372905                bedroom home  246084872    UT
9662957  372906                  main level  246084872    UT
9662958  372907                  main floor  246084872    UT
9662959  372908              house saturday  246084872    UT
9662960  372909               large windows  246084872    UT
9662961  372910     independent measurement  246084876    UT
9662962  372911              county records  246084876    UT
9662963  372912      square footage figures  246084876    UT
9662964  372913           courtesy estimate  246084876    UT
9662965  372914             hardwood floors  246084876    UT
9662966  372915  stainless steel appliances  246084876    UT
9662967  372916               kitchen baths  246084877    UT
9662968  372917                   new paint  246084877    UT
9662969  372918      square footage figures  246084883    UT
9662970  372919          additional bedroom  246084883    UT
9662971  372920              great location  246084883    UT
9662972  372921           courtesy estimate  246084883    UT
9662973  372922              county records  246084883    UT
9662974  372923                solar panels  246084883    UT
9662975  372924     independent measurement  246084883    UT
9662976  372925            new water heater  246084889    UT
9662977  372926           courtesy estimate  246084889    UT
9662978  372927                mature trees  246084889    UT
9662979  372928      square footage figures  246084889    UT
9662980  372929                bedroom home  246084889    UT
9662981  372930           ground trampoline  246084889    UT
9662982  372931     independent measurement  246084889    UT
9662983  372932           original hardwood  246084893    UT
9662984  372933                 bench ogden  246084893    UT
9662985  372934              fantastic home  246084894    UT
9662986  372935              county records  246084894    UT
9662987  372936                washer dryer  246084894    UT
9662988  372937           large front porch  246084894    UT
9662989  372938                  floor plan  246084894    UT
9662990  372939         granite countertops  246084894    UT
9662991  372940                  new owners  246084899    UT
9662992  372941               water heaters  246084899    UT
9662993  372942                   gas range  246084899    UT
9662994  372943            personal touches  246084899    UT
9662995  372944               outdoor space  246084899    UT
9662996  372945            custom cabinetry  246084899    UT
9662997  372946              modern updates  246084899    UT
9662998  372947  stainless steel appliances  246084899    UT
9662999  372948                sound system  246084899    UT
9663000  372949              walk-in closet  246084899    UT

In [ ]:
noun_sentence_df_T_ri_filtered_thu = noun_sentence_df_T_ri_filtered.loc[:,['noun_sentence','Listingid_List']]

In [ ]:
noun_sentence_df_T_ri_filtered_thu

In [ ]:
noun_sentence_df_T_ri_filtered_thu_list = explode(noun_sentence_df_T_ri_filtered_thu,
                                           lst_cols=['Listingid_List'])

In [ ]:
noun_sentence_df_T_ri_filtered_thu_list